{% extends "layouts/base.njk" %}

{% block content %}
    <main class="main">
        {% include "partials/sections/blog-details/banner.njk" %}
        {% include "partials/sections/blog-details/content.njk" %}
        {% include "partials/sections/blog-details/articles.njk" %}
    </main>
{% endblock %}
