<article class="category-card">
    <svg class="category-card__icon icon icon--{{ category.modifier }}">
        <use xlink:href="/img/sprite.svg#{{ category.icon }}"></use>
    </svg>
    <div class="category-card__content">
        <h3 class="category-card__title">
            {{ category.title }}
        </h3>
        <p class="category-card__description">
            {{ category.desc }}
        </p>
    </div>
</article>
