<details class="accordion"{% if faq.open %} open{% endif %}>
    <summary class="accordion__question">
        <span class="accordion__question-text">{{ faq.question }}</span>
        <svg class="accordion__icon" aria-hidden="true">
            <use xlink:href="/img/sprite.svg#chevron"></use>
        </svg>
    </summary>
    <p class="accordion__answer">
        {{ faq.answer| safe }}
    </p>
</details>
