<article class="article-card{% if isBlogPage %}article-card--blog{% endif %}">
    <div class="article-card__media">
        <picture class="article-card__picture">
            <source 
            srcset="/img/{{ blog.base1x }}.webp 1x, /img/{{ blog.base2x }}.webp 2x" 
            type="image/webp"
            >
            <source 
            srcset="/img/{{ blog.base1x }}.avif 1x, /img/{{ blog.base2x }}.avif 2x" 
            type="image/avif"
            >
            <img 
            src="/img/{{ blog.base1x }}.jpg" 
            srcset="/img/{{ blog.base1x }}.jpg 1x, /img/{{ blog.base2x }}.jpg 2x" 
            alt="{{ blog.alt }}"
            class="article-card__image"
            >
        </picture>
        {% if blog.tag %}
            <span class="article-card__tag">{{ blog.tag }}</span>
        {% endif %}
    </div>

    <div class="article-card__content{% if isBlogPage %}article-card__content--blog{% endif %}">
        <h3 class="article-card__title{% if isBlogPage %}article-card__title--blog{% endif %}">{{ blog.title }}</h3>
        <time 
            class="article-card__date" 
            datetime="{{ blog.date }}"
        >
            {{ blog.formattedDate }}
        </time>
    </div>
</article>
