<article class="membership-card{% if membershipHeader.label == 'Plus Membership' %} membership-card--highlighted{% endif %}">
    <div class="membership-card__header">
        {% if membershipHeader.tag %}
            <span class="membership-card__tag">{{ membershipHeader.tag }}</span>
        {% endif %}
        <h5 class="membership-card__label">{{ membershipHeader.label }}</h5>
        <div class="membership-card__price">
            <span class="membership-card__value">{{ membershipHeader.price.amount }}</span>
            <span class="membership-card__unit">{{ membershipHeader.price.unit }}</span>
        </div>
    </div>

    <div class="membership-card__content">
        <ul class="membership-card__list">

            {% for feature in membershipContent %}
                <li class="membership-card__list-entry">
                    <svg class="membership-card__icon" aria-hidden="true">
                        <use xlink:href="/img/sprite.svg#check"></use>
                    </svg>
                    <span class="membership-card__list-item">{{ feature.item }}</span>
                </li>
            {% endfor %}

        </ul>
        {% set linkButtonClass = 'membership-card__button-link button-link' %}
        {% set linkTextClass = 'button-link__text' %}
        {% if membershipHeader.modifier %}
            {% set linkButtonClass = linkButtonClass + ' button-link--secondary' %}
        {% endif %}

        {% set btn = membershipButton %}
        {% include "partials/components/atoms/button-link.njk" %}
    </div>
</article>
