<article class="product-card">
    <div class="product-card__photo-content{% if loop.index == 2 %}product-card__photo-content--hover{% endif %}">
        <div class="product-card__overlay">

            {% set linkButtonClass = 'product-card__button-link button-link button-link--secondary' %}
            {% set linkTextClass = 'button-link__text' %}
            {% set btn = overlayButton %}
            {% include "partials/components/atoms/button-link.njk" %}

        </div>
        {% if product.hasBadge %}
            <div class="product-card__badge">
                <svg class="product-card__icon" aria-hidden="true">
                    <use xlink:href="/img/sprite.svg#trophy"></use>
                </svg>
            </div>
        {% endif %}

        <picture class="product-card__picture">
            <source 
                srcset="/img/{{ product.base1x }}.webp 1x, /img/{{ product.base2x }}.webp 2x" 
                type="image/webp"
            >
            <source 
                srcset="/img/{{ product.base1x }}.avif 1x, /img/{{ product.base2x }}.avif 2x" 
                type="image/avif"
            >
            <img 
                src="/img/{{ product.base1x }}.jpg" 
                srcset="/img/{{ product.base1x }}.jpg 1x, /img/{{ product.base2x }}.jpg 2x" 
                width="305"
                height="272" 
                alt="{{ product.alt }}"
                class="product-card__image"
                loading="lazy"
                decoding="async"
            >
        </picture>
    </div>

    <div class="product-card__content">
        <div class="product-card__header">
            <h3 class="product-card__title">{{ product.title }}</h3>
            <p class="product-card__price">{{ product.price }}</p>
        </div>
        <div class="product-card__description">
            <span class="product-card__first-word">{{ product.first }}</span>
            <span class="product-card__sec-word">{{ product.sec }}</span>
        </div>
    </div>
</article>
