{% extends "layouts/base.njk" %}

{% block content %}
    <main class="main">
        {% include "partials/sections/index/hero.njk" %}
        {% include "partials/sections/index/products.njk" %}
        {% include "partials/sections/index/categories.njk" %}
        {% include "partials/sections/index/trending.njk" %}
    </main>
{% endblock %}
