{% extends "layouts/base.njk" %}

{% block content %}
    <main class="main">
        {% include "partials/sections/index/hero.njk" %}
        {% include "partials/sections/index/category-nav.njk" %}
    </main>
{% endblock %}
