@use "../../base/mixins" as mixins;
@use "../../base/variables" as var;

.featured-articles {
  &__container {
    padding-block: 60px;
    display: flex;
    flex-direction: column;
    gap: 44px;
  }

  &__title {
    @include mixins.font(
      var.$font-size-h2,
      var.$font-weight-bold,
      var.$line-height-h2
    );
    letter-spacing: var.$spacing-minus;
    color: var.$color-primary2;
  }

  &__button {
    color: var.$color-icon;
    display: flex;
    gap: 14px;
    align-items: center;
  }

  &__icon {
    width: 16px;
    height: 16px;
    color: var.$color-icon;
  }

  &__list {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
