@use "../../base/mixins" as mixins;
@use "../../base/variables" as var;

.hero {
  &__container {
    position: relative;
    display: flex;
    padding-block: 120px;
    gap: 36px;
    background: linear-gradient(
      180deg,
      rgba(240 246 253) 0%,
      rgba(255 255 255) 100%
    );
  }

  &__ornament {
    position: absolute;
    top: 0;
    right: 40px;
    max-width: 624px;
    object-fit: cover;
    padding-block: 47px;
  }

  &__content {
    max-width: 520px;
    min-width: 300px;

    @include mixins.flex(
      $justify: center,
      $align: flex-start,
      $direction: column,
      $gap: 32px
    );
  }

  &__title {
    @include mixins.font(
      var.$font-size-h1,
      var.$font-weight-bold,
      var.$line-height-h1
    );

    letter-spacing: var.$spacing-minus;
  }

  &__line-one,
  &__line-two {
    display: flex;
    flex-direction: column;
  }

  &__highlight {
    color: var.$color-icon;
  }

  &__description {
    margin-block: 0;

    @include mixins.font(
      var.$font-size-h5,
      var.$font-weight-medium,
      var.$line-height-h5
    );
    color: var.$color-secondary;
  }

  &__actions {
    display: flex;
    gap: 24px;
  }
}
