@use "../../base/mixins" as mixins;
@use "../../base/variables" as var;

.membership-plans {
  &__container {
    display: flex;
    flex-direction: column;
    gap: 48px;
  }

  &__subtitle {
    font-family: var.$font-family-secondary;
    @include mixins.font(
      var.$font-size-l,
      var.$font-weight-small,
      var.$line-height-body
    );
    color: var.$color-subtitle;
  }

  &__title {
    @include mixins.font(
      var.$font-size-h2,
      var.$font-weight-bold,
      var.$line-height-h2
    );
    letter-spacing: var.$spacing-minus;
    color: var.$color-primary2;
  }

  &__list {
    list-style-type: none;
    padding: 32px;
    border-radius: 20px;

    @include mixins.flex(
      $justify: center,
      $align: center,
      $direction: row,
      $gap: 16px
    );
  }

  &__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
  }
}
