@use "../../base/mixins" as mixins;
@use "../../base/variables" as var;

.featured-articles {
  background-color: var.$color-bg-alternative3;

  &__list-item {
    background-color: var.$color-bg-base;
    border-radius: 20px;
    box-shadow: 0px 4px 30px var.$color-shadow;
  }
  &__heading {
    @include mixins.font(
      var.$font-size-h2,
      var.$font-weight-bold,
      var.$line-height-h2
    );
    letter-spacing: var.$spacing-minus;
    color: (34 34 34);
  }
  &__text {
    color: var.$color-icon;
  }
}
