@use "../../base/mixins" as mixins;
@use "../../base/variables" as var;

.author-card {
  &__avatar {
    border-radius: 50%;
  }

  &__name {
    margin: 0;
    @include mixins.font(
      var.$font-size-h5,
      var.$font-weight-bold,
      var.$line-height-medium
    );
    color: var.$color-primary2;
  }

  &__date {
    font-family: var.$font-family-secondary;
    @include mixins.font(
      var.$font-size-l,
      var.$font-weight-small,
      var.$line-height-body
    );
    color: var.$color-primary2-op;
  }
}
