@use "../../base/mixins" as mixins;
@use "../../base/variables" as var;

.article {
  &__lead,
  &__text,
  &__summary,
  &__caption-text {
    font-family: var.$font-family-secondary;
    @include mixins.font(
      var.$font-size-xl,
      var.$font-weight-small,
      var.$line-height-h5
    );
    color: var.$color-secondary;
  }

  &__heading {
    margin: 0;
    @include mixins.font(
      var.$font-size-h4,
      var.$font-weight-bold,
      var.$line-height-h4
    );
  }

  &__quote {
    margin: 0;
  }

  &__caption-text {
    line-height: var.$line-height-body;
  }

  &__caption-link {
    font-family: var.$font-family-secondary;
    color: var.$color-icon;
    @include mixins.font(
      var.$font-size-l,
      var.$font-weight-large,
      var.$line-height-body
    );
  }

  &__quote-icon {
    width: 64px;
    height: 64px;
    color: var.$color-icon;
  }

  &__quote-text {
    @include mixins.font(
      var.$font-size-h4,
      var.$font-weight-bold,
      var.$line-height-h4
    );
  }

  &__image {
    object-fit: cover;
    border-radius: 20px;
  }
}
