@use "../../base/mixins" as mixins;
@use "../../base/variables" as var;

.customer-form {
  background-color: var.$color-bg-base;
  box-shadow: 0px 4px 40px var.$color-shadow;
  border-radius: 20px;
  padding: 32px;
  width: 100%;
  max-width: 622px;
  display: flex;
  flex-direction: column;
  gap: 24px;

  &__label,
  &__checkbox-label {
    font-family: var.$font-family-secondary;
    @include mixins.font(
      var.$font-size-md,
      var.$font-weight-small,
      var.$line-height-base
    );
  }

  &__input {
    max-width: 558px;
    width: 100%;
    border: 1px solid var.$color-separator-bold;
    border-radius: 8px;
    padding: 20px;

    &::placeholder {
      font-family: var.$font-family-secondary;
      @include mixins.font(
        var.$font-size-l,
        var.$font-weight-small,
        var.$line-height-body
      );
      color: var.$color-secondary2;
    }
  }

  &__select {
    max-width: 558px;
    width: 100%;
    border: 1px solid var.$color-separator-bold;
    border-radius: 8px;
    padding: 20px;
    font-family: var.$font-family-secondary;
    @include mixins.font(
      var.$font-size-l,
      var.$font-weight-small,
      var.$line-height-body
    );
  }

  &__textarea {
    max-width: 558px;
    width: 100%;
    min-height: 180px;
    border: 1px solid var.$color-separator-bold;
    border-radius: 8px;
    padding: 20px;

    &::placeholder {
      font-family: var.$font-family-secondary;
      @include mixins.font(
        var.$font-size-l,
        var.$font-weight-small,
        var.$line-height-body
      );
    }
  }

  &__checkbox-list {
    list-style-type: none;
  }

  &__controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__actions {
    padding-left: 4px;
  }

  &__button-link {
    font-size: 16px;
    line-height: 24px;
    padding: 20px 40px;
    border: none;
  }

  &__select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
  }

  &__checkbox-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 14px;
  }

  &__checkbox-item {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &__group {
    display: flex;
    flex-direction: column;
    gap: 6px;
  }
}

@include mixins.tablet {
  .customer-form {
    max-width: 452px;
  }
}

@include mixins.mobile {
  .customer-form {
    max-width: 408px;

    &__controls {
      flex-direction: column;
      gap: 32px;
      align-items: flex-start;
    }
  }
}
