@use "../../base/mixins" as mixins;
@use "../../base/variables" as var;

.customer-form {
  background-color: var.$color-bg-base;
  box-shadow: 0px 4px 40px var.$color-shadow;
  border-radius: 20px;
  padding: 32px;
  width: 100%;
  max-width: 622px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  position: relative;

  &__label,
  &__checkbox-label,
  &__input::placeholder,
  &__select,
  &__textarea::placeholder,
  &__error,
  &__text-error,
  &__success {
    font-family: var.$font-family-secondary;
  }

  &__label,
  &__checkbox-label {
    @include mixins.font(
      var.$font-size-md,
      var.$font-weight-small,
      var.$line-height-base
    );
  }

  &__input,
  &__textarea {
    max-width: 558px;
    width: 100%;
    border: 1px solid var.$color-separator-bold;
    border-radius: 8px;
    padding: 20px;
    font-family: var.$font-family-secondary;
    @include mixins.font(
      var.$font-size-l,
      var.$font-weight-small,
      var.$line-height-body
    );

    &:hover {
      outline: 2px solid var.$color-hover;
    }

    &:focus {
      outline: 3px solid var.$color-hover;

      outline: none;
    }

    &:user-invalid {
      outline: 1px solid var.$color-danger;
    }

    &:valid {
      outline: 1px solid var.$color-success;
    }

    &::placeholder {
      color: var.$color-secondary2;
    }
  }

  &__select {
    max-width: 558px;
    width: 100%;
    border: 1px solid var.$color-separator-bold;
    border-radius: 8px;
    padding: 20px;
    font-family: var.$font-family-secondary;
    @include mixins.font(
      var.$font-size-l,
      var.$font-weight-small,
      var.$line-height-body
    );
    background-color: var.$color-bg-base;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    &:hover {
      outline: 2px solid var.$color-hover;
    }

    &:focus {
      outline: 3px solid var.$color-hover;
    }
  }

  &__textarea {
    min-height: 180px;
    resize: none;
    box-sizing: border-box;
  }

  &__checkbox-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 14px;
    list-style-type: none;
  }

  &__controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__actions {
    padding-left: 4px;
  }

  &__button-link {
    font-size: 16px;
    line-height: 24px;
    padding: 20px 40px;
    border: none;

    &:hover {
      background-color: var.$color-hover;
    }

    &:focus {
      border: 4px solid var.$color-focus;
      background-color: var.$color-button-focus;
      padding: 16px 36px;
    }
  }

  &__select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
  }

  &__checkbox-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 14px;
  }

  &__checkbox-item {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &__group {
    display: flex;
    flex-direction: column;
    gap: 6px;
  }

  &__error {
    position: absolute;
    transform: translateY(90px);
    display: none;
    font-family: var.$font-family-secondary;
    color: var.$color-danger;
    @include mixins.font(
      var.$font-size-sm,
      var.$font-weight-small,
      var.$line-height-caption
    );
  }

  &__input:user-invalid + &__error {
    display: block;
  }

  &__text-error {
    position: absolute;
    transform: translateY(210px);
    display: none;
    font-family: var.$font-family-secondary;
    color: var.$color-danger;
    @include mixins.font(
      var.$font-size-sm,
      var.$font-weight-small,
      var.$line-height-caption
    );
  }

  &__textarea:user-invalid + &__text-error {
    display: block;
  }

  &__success {
    position: absolute;
    transform: translateY(90px);
    display: none;
    color: var.$color-success;
    font-family: var.$font-family-secondary;
    @include mixins.font(
      var.$font-size-sm,
      var.$font-weight-small,
      var.$line-height-caption
    );
  }

  &__input:valid ~ &__success {
    display: block;
  }
}

@include mixins.tablet {
  .customer-form {
    max-width: 452px;

    &__controls {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 32px;
    }
  }
}

@include mixins.mobile {
  .customer-form {
    max-width: 408px;

    &__controls {
      flex-direction: column;
      gap: 32px;
      align-items: flex-start;
    }
  }
}
