@use "../../base/mixins" as mixins;
@use "../../base/variables" as var;

.sorting-controls {
  display: flex;
  flex-direction: column;
  gap: 24px;

  &__fieldset {
    border: none;
    margin: 0;
    padding: 0;
  }

  &__categories-dropdown {
    position: relative;
  }

  &__arrow {
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%) rotate(90deg);
    width: 24px;
    height: 24px;
    transition: transform 0.3s ease;
    cursor: pointer;
  }

  &__dropdown {
    width: 154px;
    appearance: none;
    -webkit-appearance: none;
    background: transparent;
    padding: 8px 20px;
    border-radius: 8px;
    border: 1px solid var.$color-separator-bold;
    font-size: 16px;
    cursor: pointer;

    &:focus-visible {
      outline: none;
    }
  }

  &__options {
    background-color: var.$color-primary-invert;
    color: var.$color-primary;
    padding: 8px 20px;
    font-size: 16px;
  }

  &__categories-dropdown:focus-within .sorting-controls__arrow {
    transform: translateY(-50%) rotate(-90deg);
  }

  &__result-count {
    font-family: var.$font-family-secondary;
    @include mixins.font(
      var.$font-size-l,
      var.$font-weight-small,
      var.$line-height-body
    );
  }

  &__buttons-list {
    list-style-type: none;
  }

  &__tag {
    @include mixins.button-reset;
    border: 1px solid var.$color-separator-bold;
    border-radius: 8px;
    padding: 6px 12px;
    display: inline-flex;
    gap: 12px;
    align-items: center;
  }

  &__text {
    @include mixins.font(
      var.$font-size-md,
      var.$font-weight-large,
      var.$line-height-small
    );
  }

  &__icon {
    width: 16px;
    height: 16px;
  }

  &__header {
    display: flex;
    justify-content: space-between;
  }

  &__group {
    display: flex;
    gap: 24px;
    align-items: center;
  }

  &__buttons-list {
    display: flex;
    gap: 8px;
  }
}
