{% extends "layouts/base.njk" %}

{% block content %}
    <main class="main">

        {% include "partials/sections/catalog/banner.njk" %}

        <section class="catalog-grid">
            <div class="catalog-grid__container layout-container">
                {% include "partials/sections/catalog/filters.njk" %}
                {% include "partials/sections/catalog/catalog.njk" %}
            </div>
        </section>

    </main>
{% endblock %}
