@use "../../base/mixins" as mixins;
@use "../../base/variables" as var;

.button-action {
  width: 40px;
  height: 40px;
  padding: 0;
  @include mixins.button-reset;

  background-color: var.$color-base-white;
  border: 1px solid var.$color-separator-bold;
  border-radius: 8px;

  &--secondary {
    background-color: var.$color-icon;
    color: var.$color-primary-invert;
  }

  &--prev,
  &--next {
    display: inline-flex;
    background-color: transparent;
    border: 2px solid var.$color-separator-bold;
    border-radius: 8px;
  }

  &--next {
    transform: scaleX(-1);
  }

  &__icon {
    color: var.$color-primary-invert;
    width: 24px;
    height: 24px;

    &--nav {
      color: var.$color-primary;
    }
  }
}
