@use "../../base/mixins" as mixins;
@use "../../base/variables" as var;

.button-link {
  display: inline-flex;
  background-color: transparent;
  padding: 18px 32px;
  border-radius: 8px;
  @include mixins.font(
    var.$font-size-xl,
    var.$font-weight-large,
    var.$line-height-h5
  );

  &__text {
    white-space: nowrap;
  }

  &__icon {
    display: inline-flex;
    width: 20px;
    height: 20px;
    color: var.$color-icon;
  }

  &--secondary {
    font-family: var.$font-family-secondary;
    color: var.$color-primary-white;
    background-color: var.$color-icon;
  }

  &--tertiary {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    gap: 14px;
    background-color: var.$color-bg-base;
  }
}
