@use "../../base/mixins" as mixins;
@use "../../base/variables" as var;

.logo-icon {
  display: block;
  width: 108px;
  aspect-ratio: 108 / 24;
  color: var.$color-icon;

  &:hover {
    color: var.$color-hover;
  }

  &:focus {
    color: var.$color-button-focus;
  }

  &:active {
    color: var.$color-button-active;
  }

  &--large {
    width: 300px;
  }
}
