@use "../../base/mixins" as mixins;
@use "../../base/variables" as vars;

.nav {
  &__list {
    list-style-type: none;
    @include mixins.flex(flex-start, center, row, vars.$spacing-xs);
  }
  &__link {
    display: inline-flex;
    padding: 6px 12px;
    @include mixins.font(
      vars.$font-size-small,
      vars.$font-weight-large,
      vars.$line-height-small
    );
  }
}
