<section class="blog-details__banner">
    <div class="blog-details__container">
        <div class="blog-details__banner-content">
            <p class="blog-details__banner-tag">{{ banner.tag }}</p>
            <h1 class="blog-details__banner-title">{{ banner.title }}</h1>
        </div>
    </div>
</section>
