@use "../../base/mixins" as mixins;
@use "../../base/variables" as var;

.footer {
  &__container-wrapper {
    padding-top: 64px;
    padding-bottom: 135px;
    display: flex;
    flex-direction: column;
    gap: 80px;
  }
  &__description {
    font-family: var.$font-family-secondary;
    @include mixins.font(
      var.$font-size-l,
      var.$font-weight-small,
      var.$line-height-body
    );
  }

  &__heading {
    margin-bottom: 16px;

    @include mixins.font(
      var.$font-size-h5,
      var.$font-weight-bold,
      var.$line-height-medium
    );
  }

  &__socials-list {
    list-style-type: none;
    display: flex;
    gap: 8px;
  }

  &__button-link {
    padding: 20px;
  }

  &__socials-icon {
    width: 24px;
    height: 24px;
  }

  &__newsletter-form {
    display: flex;
    gap: 8px;
  }

  &__newsletter-label {
    padding-right: 24px;
    @include mixins.font(
      var.$font-size-h4,
      var.$font-weight-bold,
      var.$line-height-h4
    );
  }

  &__newsletter-input {
    min-width: 240px;
    @include mixins.button-reset;
    border: 1px solid rgb(29 54 83 / 0.17);
    padding: 20px;
    border-radius: 8px;
    cursor: pointer;

    &::placeholder {
      color: rgb(42 53 65 / 0.7);
      font-family: var.$font-family-secondary;
      @include mixins.font(
        var.$font-size-l,
        var.$font-weight-small,
        var.$line-height-body
      );
    }
  }

  &__newsletter-button {
    @include mixins.button-reset;
    color: var.$color-primary-white;
    background-color: var.$color-icon;
    font-family: var.$font-family-secondary;
    padding: 20px 40px;
    border-radius: 8px;
  }

  &__breakline {
    display: flex;
    flex-direction: column;
  }

  &__copyright-wrapper {
    background-color: var.$color-bg-base-invert;
  }

  &__copyright {
    color: var.$color-secondary2-invert;
    display: flex;
    justify-content: space-between;
    padding: 24px 80px;
  }

  &__legal-list {
    list-style-type: none;
    display: flex;
    gap: 16px;
  }

  &__credits {
    @include mixins.font(
      var.$font-size-l,
      var.$font-weight-small,
      var.$line-height-body
    );
  }

  &__legal-list-item {
    @include mixins.font(
      var.$font-size-l,
      var.$font-weight-small,
      var.$line-height-body
    );
    position: relative;
    &::after {
      position: absolute;
      content: "";
      top: 50%;
      right: -8px;
      transform: translateY(-50%);
      width: 1px;
      height: 16px;
      background-color: var.$color-secondary2-invert;
    }

    &:last-child::after {
      display: none;
    }
  }

  &__legal-list-link {
    display: inline-flex;
  }

  &__intro {
    max-width: 320px;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__branding {
    display: flex;
    justify-content: space-between;
  }

  &__nav-wrapper {
    display: flex;
    gap: 64px;
  }

  &__actions {
    display: flex;
    justify-content: space-between;
  }

  &__newsletter-controls {
    display: flex;
    gap: 8px;
  }
}

@include mixins.mobile {
  .footer {
    &__container-wrapper {
      padding-top: 96px;
      padding-bottom: 64px;
      gap: 72px;
    }
    &__branding {
      flex-direction: column;
      gap: 32px;
    }

    &__intro {
      max-width: 408px;
      width: 100%;
      gap: 10px;
    }

    &__nav-wrapper {
      flex-direction: column;
      gap: 32px;
    }

    &__actions {
      flex-direction: column;
      gap: 32px;
    }

    &__newsletter-form {
      flex-direction: column;
      gap: 24px;
    }

    &__newsletter-controls {
      display: flex;
      flex-direction: row;
      gap: 8px;
    }

    &__copyright {
      display: flex;
      flex-direction: column;
      white-space: nowrap;
      align-items: center;
      gap: 32px;
    }
  }
}
