@use "../../base/mixins" as mixins;
@use "../../base/variables" as var;

.footer {
  &__description {
    font-family: var.$font-family-secondary;
    @include mixins.font(
      var.$font-size-l,
      var.$font-weight-small,
      var.$line-height-body
    );
  }

  &__heading {
    @include mixins.font(
      var.$font-size-h5,
      var.$font-weight-bold,
      var.$line-height-medium
    );
  }

  &__socials-list {
    list-style-type: none;
    display: flex;
  }

  &__socials-button {
    border: 2px solid var.$color-separator-bold;
    padding: 18px;
    border-radius: 8px;
  }

  &__socials-icon {
    width: 24px;
    height: 24px;
  }

  &__newsletter-form {
    width: 100%;
    max-width: 240px;
  }

  &__newsletter-label {
    @include mixins.font(
      var.$font-size-h4,
      var.$font-weight-bold,
      var.$line-height-h4
    );
  }

  &__newsletter-input {
    @include mixins.button-reset;
    width: 100%;
    border: 1px solid rgb(29 54 83 / 0.17);
    padding: 20px;
    border-radius: 8px;
    cursor: pointer;

    &::placeholder {
      color: rgb(42 53 65 / 0.7);
      font-family: var.$font-family-secondary;
      @include mixins.font(
        var.$font-size-l,
        var.$font-weight-small,
        var.$line-height-body
      );
    }
  }

  &__newsletter-button {
    font-family: var.$font-family-secondary;
    @include mixins.font(
      var.$font-size-md,
      var.$font-weight-large,
      var.$line-height-body
    );
    @include mixins.button-reset;
    color: var.$color-primary-white;
    background-color: var.$color-icon;
    font-family: var.$font-family-secondary;
    padding: 20px 40px;
    border-radius: 8px;
  }

  &__copyright {
    color: var.$color-secondary2-invert;
    background-color: var.$color-bg-base-invert;
    display: flex;
    justify-content: space-between;
    padding: 24px 80px;
  }

  &__legal-list {
    list-style-type: none;
    display: flex;
  }

  &__legal-list-item {
    position: relative;
    &::after {
      position: absolute;
      content: "";
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      width: 1px;
      height: 16px;
      background-color: var.$color-secondary2-invert;
    }

    &:last-child::after {
      display: none;
    }
  }

  &__legal-list-link {
    display: inline-flex;
  }
}
