.header {
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 24px;
  }

  &__branding {
    display: flex;
    align-items: center;
    gap: 32px;
  }

  &__controls {
    display: flex;
    align-items: center;
    gap: 8px;
  }
}
