@use "../base/variables" as var;
@use "../base/mixins" as mixins;

.header {
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-block: 24px;
  }

  &__branding {
    display: flex;
    align-items: center;
    gap: 32px;

    @include mixins.mobile {
      gap: 16px;
    }
  }

  &__controls {
    display: flex;
    align-items: center;
    gap: 8px;
    flex: 0 1 288px;

    @include mixins.mobile {
      flex: 0 0 auto;
    }
  }

  &__search {
    flex: 0 1 288px;

    @include mixins.mobile {
      display: none;
    }
  }

  &__burger-menu,
  &__search-button {
    display: none;

    @include mixins.mobile {
      display: inline-flex;
    }
  }
}

@include mixins.mobile {
  .header {
    &__mobile-nav {
      display: none;
      position: absolute;
      top: 11%;
      left: 0;
      width: 100%;
      background: linear-gradient(
        180deg,
        rgb(240 246 253) 0%,
        rgb(255 255 255) 100%
      );
      padding: 16px;
      z-index: var.$base;

      &--open {
        display: flex;
      }
    }
  }
}
