<section class="contacts">
    <div class="contacts__container layout-container">
        <div class="contacts__info">
            <p class="contacts__subtitle">{{ contactsSubtitle }}</p>
            <h1 class="contacts__title">{{ contactsTitle }}</h1>
            <p class="contacts__description">{{ contactsDesc }}</p>

            {% set btnTextClass = 'button-link__text' %}
            {% set btnClass = 'contacts__button button-link button-link--secondary' %}
            {% set btn = contactsBtn %}

            {% include "partials/components/atoms/button-link.njk" %}
            <ul class="contacts__list">
                {% for item in contactsInfo %}

                    <li class="contacts__list-item">
                        <svg class="contacts__icon" aria-hidden="true">
                            <use xlink:href="/img/sprite.svg#{{ item.id }}"></use>
                        </svg>
                        <p class="contacts__text">{{ item.text }}</p>
                    </li>

                {% endfor %}
            </ul>
        </div>

        <div class="contacts__location">
            <div class="contacts__location-wrapper">
                <img
                class="contacts__map"
                src="/img/location-2x.webp"
                srcset="/img/location-1x.jpeg 1x, /img/location-2x.jpeg 2x"
                alt="PixMart HQ Location on Map"
                width="618"
                height="314"
                >

                <div class="contacts__address-info">
                    <svg class="contacts__icon" aria-hidden="true">
                        <use xlink:href="/img/sprite.svg#{{ contcIconId }}"></use>
                    </svg>
                    <span class="contacts__name">{{ contcAdressName }}</span>
                    <span class="contacts__address">{{ contcAdress }}</span>
                </div>
            </div>
        </div>

        <div class="contacts__form">
            {% include "partials/components/organisms/customer-form.njk" %}
        </div>
    </div>
</section>
