<section class="blog">
    <div class="blog__container">
        <div class="blog__header">
            <h3 class="blog__heading">{{ blogHeader.title }}</h3>
            <a class="blog__link" href="#">
                <svg class="blog__icon">
                    <use xlink:href="/img/sprite.svg#chevron"></use>
                </svg>
            </a>
        </div>
        <div class="blog__cards">
            {% for blog in blogCards %}
                {% include "partials/components/post-card.njk" %}
            {% endfor %}
        </div>
    </div>
</section>
