<section class="category-highlight">
    <div class="category-highlight__container layout-container">
        {% for category in categories %}
            {% include "partials/components/molecules/category-card.njk" %}
        {% endfor %}

        <div class="category-highlight__wrapper">
            <p class="category-highlight__subtitle">{{ categoriesHeader.subtitle }}</p>
            <h2 class="category-highlight__title">{{ categoriesHeader.title }}</h2>
            <p class="category-highlight__description">{{ categoriesHeader.desc }}</p>

            {% set btnClass = "category-highlight__button button button--secondary" %}
            {% set btnTextClass = 'category-highlight__button-text' %}
            {% set btn = categoriesButton %}
            {% include "partials/components/atoms/button-link.njk" %}
        </div>
    </div>
</section>
