<section class="main__category-nav category-nav">
    <div class="category-nav__container">
        <ul class="category-nav__list">
            {% for category in categories %}
                <li class="category-nav__list-item">
                    <a class="category-nav__link" href="#">
                        <div class="category-nav__wrapper">
                            <svg class="category-nav__icon category-nav__icon--{{ category.modifier }}">
                                <use xlink:href="/img/sprite.svg#{{ category.icon }}"></use>
                            </svg>
                            <p class="category-nav__label">{{ category.label }}</p>
                        </div>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
</section>
