<section class="main__pricing pricing">
    <div class="pricing__header">
        <h3 class="pricing__subtitle">{{ pricingHeader.subtitle }}</h3>
        <h2 class="pricing__title">{{ pricingHeader.title }}</h2>
    </div>
    <ul class="pricing__list">
        {% for membership in memberships %}
            {% set membershipHeader = membership.membershipHeader %}
            {% set membershipContent = membership.membershipContent %}
            {% set membershipButton = membership.membershipButton %}
            <li class="pricing__list-item">
                {% include "partials/components/membership-card.njk" %}
            </li>
        {% endfor %}
    </ul>
</section>
