<section class="main__trending trending">
    <div class="trending__container">
        <div class="trending__header">
            <h3 class="trending__subtitle">{{ trendingHeader.subtitle }}</h3>
            <h2 class="trending__title">{{ trendingHeader.title }}</h2>
            <div class="trending__nav">
                {% for item in trendingButtons %}
                    {% set btn = item %}
                    {% set btnClass = "trending__button button button--" + item.modifier %}
                    {% include "partials/components/button.njk" %}
                {% endfor %}

            </div>
        </div>
        <ul class="trending__list">
            {% for product in productCards %}
                <li class="trending__list-item">
                    {% include "partials/components/product-card.njk" %}
                </li>
            {% endfor %}
        </li>
    </ul>
</div>
</section>
