<section class="catalog-banner">
    <div class="catalog-banner__container layout-container">
        <div class="catalog-banner__wrapper">
            <h1 class="catalog-banner__title">{{ title | safe }}</h1>
        </div>
    </div>
</section>
