<section class="catalog">
    <div class="catalog__sorting-controls sorting-controls">
        <div class="sorting-controls__header">
            <form class="sorting-controls__form">
                <fieldset class="sorting-controls__fieldset">
                    <legend class="visually-hidden">{{ sortingLegend }}</legend>
                    <div class="sorting-controls__categories-dropdown">
                        <label class="sorting-controls__label visually-hidden" for="sort" >
                            {{ sortingLabel }}
                        </label>
                        <select class="sorting-controls__dropdown" name="sort" id="sort">
                            {% for option in sortingOptions %}

                                <option value="{{ option.value }}" {% if option.selected %} selected{% endif %}>
                                    {{ option.label }}
                                </option>

                            {% endfor %}
                        </select>
                    </div>
                </fieldset>
                <button class="visually-hidden" type="submit">{{ sortingBtn }}</button>
            </form>

            <div class="sorting-controls__group">
                <p class="sorting-controls__result-count">{{ sortingResults }}</p>
                <ul class="sorting-controls__buttons-list">
                    {% for btn in sortingBtns %}
                        <li class="sorting-controls__buttons-list-item">

                            {% set actionIconClass = 'button-action__icon' %}
                            {% set actionButtonClass = 'sorting-controls__button-action button-action' %}
                            {% if btn.iconId == 'grid' %}
                                {% set actionButtonClass = actionButtonClass + ' button-action--secondary' %}
                            {% endif %}

                            {% include "partials/components/atoms/button-action.njk" %}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <div class="sorting-controls__tags">
            {% for tag in selectedTags %}

                <button class="sorting-controls__tag" type="button">
                    {{ tag }}
                    <svg class="sorting-controls__icon">
                        <use xlink:href="/img/sprite.svg#close"></use>
                    </svg>
                </button>

            {% endfor %}
        </div>
    </div>

    <div class="catalog__products">
        <ul class="catalog__list">
            {% for product in catalogProducts %}
                <li class="catalog__list-item">

                    {% include "partials/components/molecules/catalog-card.njk" %}

                </li>
            {% endfor %}
        </ul>
    </div>

    {% set btnClass = 'catalog__button button-link' %}
    {% set btnTextClass = 'button-link__text' %}
    {% set btn = catalogBtn %}

    {% include "partials/components/atoms/button-link.njk" %}

</section>
