<aside class="catalog-filters">
    <form class="catalog-filters__form" method="get" action="#">
        <ul class="catalog-filters__list">
            {% for item in filterMenu %}

                <li class="catalog-filters__item">
                    <fieldset class="catalog-filters__fieldset">
                        <legend class="catalog-filters__legend">{{ item.name }}</legend>
                        <ul class="catalog-filters__options">
                            {% for option in filterItems[item.id] %}

                                <li class="catalog-filters__options-item">
                                    {% if item.id == "categories" %}
                                        <input 
                                     type="checkbox" 
                                     class="catalog-filters__option-input" 
                                     id="{{ item.id }}{{ loop.index }}"
                                    >

                                    {% elif item.id == "format" %}
                                        <input 
                                     type="radio" 
                                     class="catalog-filters__option-input" 
                                     name="format" id="{{ item.id }}{{ loop.index }}"
                                    >

                                    {% elif item.id == "style" %}
                                        <input 
                                     type="checkbox" 
                                     class="catalog-filters__option-input catalog-filters__option-input--toggle" 
                                     id="{{ item.id }}{{ loop.index }}"
                                    >

                                    {% elif item.id == "price" %}
                                        <input 
                                     type="range" 
                                     min="5" 
                                     max="50" 
                                     class="catalog-filters__option-input catalog-filters__option-input--range" 
                                    id="{{ item.id }}{{ loop.index }}"
                                    >

                                    {% endif %}

                                    <label 
                                 class="catalog-filters__option-label" 
                                 for="{{ item.id }}{{ loop.index }}"
                                >
                                        {{ option.name }}
                                    </label>
                                </li>

                            {% endfor %}
                        </ul>
                    </fieldset>
                </li>

            {% endfor %}
        </ul>

        <div class="catalog-filters__actions">
            <button type="reset" class="catalog-filters__reset">
                <svg class="catalog-filters__icon" aria-hidden="true">
                    <use xlink:href="/img/sprite.svg#close"></use>
                </svg>{{filterBtn}}</button>
            <button type="submit" class="catalog-filters__submit visually-hidden"></button>
        </div>
    </form>
</aside>
