<div class="catalog__sorting-controls">
    <div class="sorting-controls__sort-select">
        <div class="sorting-controls__categories-dropdown">
            <label class="sorting-controls__label" for="sort">{{ sortingLabel }}</label>
            <select class="sorting-controls__dropdown" name="sort" id="sort">
                {% for option in sortingOptions %}
                    <option value="{{ option.value }}"{% if option.selected %} selected{% endif %}>
                        {{ option.label }}
                    </option>
                {% endfor %}
            </select>
        </div>
        <p class="sorting-controls__result-count">{{ sortingResults }}</p>
        <div class="sorting-controls__buttons">
            <button class="sorting-controls__button button--secondary">
                <svg class="sorting-controls__icon">
                    <use xlink:href="/img/sprite.svg#grid"></use>
                </svg>
            </button>
            <button class="sorting-controls__button button">
                <svg class="sorting-controls__icon">
                    <use xlink:href="/img/sprite.svg#list"></use>
                </svg>
            </button>
        </div>
    </div>
    <div class="sorting-controls__tags">
        {% for tag in selectedTags %}
            <button class="sorting-controls__tag" type="button">
                {{ tag }}
                <svg class="sorting-controls__icon">
                    <use xlink:href="/img/sprite.svg#close"></use>
                </svg>
            </button>
        {% endfor %}
    </div>
</div>
<div class="catalog__products">
    <div class="catalog__products-grid">
        {% for product in catalogProducts %}
            {% set showActions = true %}
            {% include "partials/components/product-card.njk" %}
        {% endfor %}
    </div>
</div>
