<footer class="footer">

    <div class="layout-container">
        <div class="footer__container-wrapper">
            <div class="footer__branding">
                <div class="footer__intro">

                    {% set logoClass = 'footer__logo logo' %}
                    {% set iconLogoClass = 'logo__icon logo__icon--large' %}
                    {% include "partials/components/atoms/logo.njk" %}

                    <p class="footer__description">{{ footerDesc }}</p>
                </div>

                <div class="footer__nav-wrapper">
                    {% for navSection in navSections %}
                        <div class="footer__nav-column">

                            <h3 class="footer__heading">{{ navSection.title }}</h3>

                            {% set navItems = navSection.links %}
                            {% set navListClass = "nav__list nav__list--column" %}
                            {% set navLinkClass = "nav__link nav__link--column" %}
                            {% set navClass = 'footer__nav nav nav--column' %}

                            {% include "partials/components/atoms/nav.njk" %}
                        </div>

                    {% endfor %}
                </div>

            </div>

            <div class="footer__actions">
                <ul class="footer__socials-list">
                    {% for footerButton in footerSocials %}

                        <li class="footer__socials-list-item">

                            {% set btn = footerButton %}
                            {% set linkButtonClass = 'footer__button-link button-link' %}
                            {% set linkIconClass = 'button-link__icon button-link__icon--large' %}

                            {% include "partials/components/atoms/button-link.njk" %}
                        </li>

                    {% endfor %}
                </ul>
                <div class="footer__newsletter">
                    <form class="footer__newsletter-form" action="#" method="post">
                        <label 
                     class="footer__newsletter-label" 
                     for="email"
                    >
                            {{ newsletterLabel | safe }}
                        </label>
                        <div class="footer__newsletter-controls">
                            <input 
                     class="footer__newsletter-input" 
                     type="email" 
                     name="email"
                     id="email"
                     placeholder="Enter your email address ..."
                     required
                    >
                            <button 
                     class="footer__newsletter-button" 
                     type="submit"
                    >
                                {{ newsletterBtn }}
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="footer__copyright-wrapper">
        <div class="footer__copyright layout-container">
            <ul class="footer__legal-list">
                {% for legal in footerLegal %}

                    <li class="footer__legal-list-item">
                        <a class="footer__legal-link" href="#">{{ legal.link }}</a>
                    </li>

                {% endfor %}
            </ul>
            <p class="footer__credits">{{ footerCredits }}</p>
        </div>
    </div>

</footer>
