<header class="header">
    <div class="header__container layout-container">
        <div class="header__branding" >
            {% set actionButtonClass = "header__burger-menu button-action button-action--secondary" %}
            {% set actionIconClass = "button-action__icon" %}
            {% set btn = burgerBtn %}
            {% include "partials/components/atoms/button-action.njk" %}

            {% set logoClass = "header__logo logo" %}
            {% set iconLogoClass = "logo-icon" %}
            {% include "partials/components/atoms/logo.njk" %}

            <nav class="header__mobile-nav header__mobile-nav--open" id="mobilenav">
                <ul class="header__mobile-nav-list">
                    {% for item in burgerNav %}
                        <li class="header__mobile-nav-item">
                            <a class="header__mobile-nav-link" href="{{item.link}}">{{ item.label }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </nav>

            {% set navClass = "header__nav nav" %}
            {% set navListClass = "nav__list" %}
            {% set navLinkClass = "nav__link" %}
            {% include "partials/components/atoms/nav.njk" %}
        </div>

        <div class="header__controls">
            <div class="header__search search">
                <form class="search__form" action="#" method="get">
                    <label class="search__label visually-hidden" for="search">{{ headerLabel }}</label>
                    <input 
                        class="search__input" 
                        type="text" 
                        name="search" 
                        id="search" 
                        placeholder="Search for Digital Assets" 
                        minlength="1" 
                        maxlength="15"
                        aria-describedby="searcherror" 
                        required
                        >
                    <span id="searcherror" class="search__error">{{ headerError }}</span>
                    <span class="search__success">{{ headerSuccess }}</span>
                    <button class="search__button visually-hidden" type="submit" aria-label="Submit Search">{{ headerFormBtn }}</button>
                </form>
            </div>

            {% set actionButtonClass = "header__search-button button-action" %}
            {% set actionIconClass = "button-action__icon button-action__icon--nav" %}
            {% set btn = burgerSearchBtn %}
            {% include "partials/components/atoms/button-action.njk" %}

            {% set actionButtonClass = "header__button-action button-action button-action--secondary" %}
            {% set actionIconClass = "button-action__icon" %}
            {% set btn = headerBtn %}
            {% include "partials/components/atoms/button-action.njk" %}

        </div>
    </div>
</header>
