<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ site.title }}</title>
    <link rel="stylesheet" type="text/css" href="css/normalize.css"/>
    <link rel="stylesheet" href="/css/style.css">
  </head>

  <body>
    {% include "partials/sections/shared/header.njk" %}
    {% block content %}{% endblock %}
    {% include "partials/sections/shared/footer.njk" %}
  </body>
</html>
