<section class="blog__banner">
    <div class="blog__banner-container layout-container ">
        <div class="blog__banner-content">
            <p class="blog__banner-tag">{{ banner.tag }}</p>
            <h1 class="blog__banner-title">{{ banner.title }}</h1>
        </div>
    </div>
</section>
