<button class="{{ btnClass }}" type="button">
    <svg class="{{ iconClass }}" aria-hidden="true" focusable="false">
        <use xlink:href="/img/sprite.svg#{{ btn.iconId }}"></use>
    </svg>
</button>
