<button class="{{ actionButtonClass }}" type="button">
    <svg class="{{ actionIconClass }}" aria-hidden="true" focusable="false">
        <use xlink:href="/img/sprite.svg#{{ btn.iconId }}"></use>
    </svg>
</button>
