<a class="{{ btnClass }}" href="{{ btn.link }}">
    {% if btn.iconId %}
        <svg class="{{ iconClass }}" aria-hidden="true" focusable="false">
            <use xlink:href="/img/sprite.svg#{{ btn.iconId }}"></use>
        </svg>
    {% else %}
        {{ btn.text }}
    {% endif %}
</a>
