<a class="{{ linkButtonClass }}" href="{{ btn.link }}">
    {% if btn.iconId %}
        <svg class="{{ linkIconClass }}" aria-hidden="true" focusable="false">
            <use xlink:href="/img/sprite.svg#{{ btn.iconId }}"></use>
        </svg>
    {% endif %}
    {% if btn.text %}
        <span class="{{ linkTextClass }}">{{ btn.text }}</span>
    {% endif %}
</a>
