{% if isHomePage %}
    <svg class="{{ iconLogoClass }}" aria-hidden="true" focusable="false">
        <use xlink:href="/img/sprite.svg#logo"></use>
    </svg>
{% else %}
    <a href="{{ logo.link }}" class="{{ logoClass }}">
        <svg class="{{ iconLogoClass }}" aria-hidden="true" focusable="false">
            <use xlink:href="/img/sprite.svg#logo"></use>
        </svg>
    </a>
{% endif %}
