<div class="blog__articles articles">
    <div class="articles__container">
        <div class="articles__header">
            <h2 class="articles__heading">{{ articlesHeader }}</h2>
            <a class="articles__link" href="#">
                <span class="articles__text">{{ articlesText }}</span>
                <svg class="articles__icon">
                    <use xlink:href="/img/sprite.svg#chevron"></use>
                </svg>
            </a>
        </div>

        <ul class="articles__list">
            {% for blog in articlesCards %}

                <li class="articles__list-item">
                    {% include "partials/components/molecules/article-card.njk" %}
                </li>

            {% endfor %}
        </ul>
    </div>
</div>
