{# <aside class="filter-open">
    <div class="filter-open__header">
        <h3 class="filter-open__title">{{ filterOpenTitle }}</h3>
        {% set actionIconClass = 'button-action__icon' %}
        {% set actionButtonClass = 'filter-open__button-action button-action'%}
        {% include "partials/components/atoms/button-action.njk" %}
    </div>
    <h1>THIS IS JUST A TEST</h1>

    <div class="filter-open__content">
        <form class="filter-open__form" method="get" action="#">
            <ul class="filter-open__list">
                {% for item in filterMenu %}

                    <li class="filter-open__item">
                        <fieldset class="filter-open__fieldset">
                            <legend class="filter-open__legend">{{ item.name }}</legend>
                            <ul class="filter-open__options">
                                {% for option in filterItems[item.id] %}

                                    <li class="filter-open__options-item filter-open__item--{{ item.id }}">
                                        {% if item.id == "categories" %}
                                            <input 
                                     type="checkbox" 
                                     class="filter-open__option-input visually-hidden" 
                                     id="{{ item.id }}{{ loop.index }}"
                                    >

                                        {% elif item.id == "format" %}
                                            <input 
                                     type="radio" 
                                     class="filter-open__option-input visually-hidden" 
                                     name="format" id="{{ item.id }}{{ loop.index }}"
                                    >

                                        {% elif item.id == "style" %}
                                            <input 
                                     type="checkbox" 
                                     class="filter-open__option-input visually-hidden" 
                                     id="{{ item.id }}{{ loop.index }}"
                                    >

                                        {% elif item.id == "price" %}
                                            <input 
                                     type="range" 
                                     min="5" 
                                     max="50" 
                                     class="filter-open__option-input filter-open__option-input--range" 
                                    id="{{ item.id }}{{ loop.index }}"
                                    >

                                        {% endif %}

                                        <label 
                                 class="filter-open__option-label filter-open__option-label--{{ item.id }}" 
                                 for="{{ item.id }}{{ loop.index }}"
                                >
                                            {% if item.id == "price" %}
                                                <div class="filter-open__range-values">
                                                    <span id="pricemin">{{ option.priceMin }}</span>
                                                    <span id="pricemax">{{ option.priceMax }}</span>
                                                </div>
                                            {% else %}

                                                {{ option.name }}
                                            {% endif %}
                                        </label>
                                    </li>

                                {% endfor %}
                            </ul>
                        </fieldset>
                    </li>

                {% endfor %}
            </ul>
            <button type="submit" class="filter-open__submit">{{ filterSubmit }}</button>
        </form>
    </div>
</aside> #}
