<div class="lcoation">
    <img
     class="contacts__map"
     src="/img/location.jpg"
     srcset="/img/location-1x.jpg 1x, /img/location-2x.jpg 2x"
     alt="PixMart HQ Location on Map"
     width="618"
     height="314"/>

    <div class="contacts__address-info">
        <svg class="contacts__icon" aria-hidden="true">
            <use xlink:href="/img/sprite.svg#{{ contcIconId }}"></use>
        </svg>
        <p class="contacts__address">{{ contcAdress }}</p>
    </div>
</div>
