{% extends "layouts/base.njk" %}

{% set siteTitle = "Contact Us – Get in Touch with PIXMart" %}
{% set metaDescription = "Have questions or need help? Contact PIXMart for support and inquiries." %}

{% block content %}
    <main class="main">
        {% include "partials/sections/contacts/contacts.njk" %}
    </main>
{% endblock %}
