{% extends "layouts/base.njk" %}

{% block content %}
    <main class="main">

        {% include "partials/sections/blog/banner-blog.njk" %}

        {% include "partials/sections/blog/body.njk" %}
        {% set isBlogPage = true %}
        {% include "partials/sections/blog/related-articles.njk" %}
    </div>

</main>
{% endblock %}
