@use "../../base/mixins" as mixins;
@use "../../base/variables" as var;

.blog {
  &__picture {
    display: flex;
    width: 100%;
  }
  &__image {
    width: 100%;
    display: block;
    object-fit: cover;
    object-position: 20% 5%;
    border-radius: 20px;
  }
}

@include mixins.mobile {
  .blog {
    &__image {
      height: auto;
    }
  }
}
