@use "../../base/mixins" as mixins;
@use "../../base/variables" as var;

.blog {
  &__picture {
    display: flex;
    width: 100%;
    max-height: 398px;
  }
  &__image {
    width: 100%;
    object-fit: cover;
    object-position: 20% 5%;
    border-radius: 20px;
  }
}

@include mixins.mobile {
  .blog {
    &__picture {
      max-height: 127px;
    }
  }
}
