.visually-hidden {
  clip: rect(0, 0, 0, 0);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

a {
  text-decoration: none;
}

ul,
ol,
body,
img {
  margin: 0;
  padding: 0;
}
